<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'index.css')}}">
		<!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<style type="text/css">
    .w3-card-4{
        margin: 1% 25% !important;
        width: 50% !important;
    }
</style>
<body>
		<div>
			<h1 align = "center"> Geddit </h1>
		</div>
		
		<form method = "POST">
		<div class="container">
			<div class="row">
		        <div class="col-sm-6 col-sm-offset-3">
		            <div id="imaginary_container"> 
		                <div class="input-group stylish-input-group">
		                    <input type="text" class="form-control"  placeholder="Search" name = "query">
		                    <span class="input-group-addon">
		                        <button type="submit">
		                            <span class="glyphicon glyphicon-search"></span>
		                        </button>  
		                    </span>
		                </div>
		            </div>
		        </div>
			</div>

		</div>

		<br>
		 <div align = "right" class = "container" style = "display:inline-block">
				<button align = "center" type="Submit" class="btn btn-primary btn-lg" id="add">Search document</button>
				<!-- <a href="/index"><button style = "margin-left:10px; margin-right:20px;"type="button" class="btn btn-primary btn-lg" id="add">Search</button></a> -->
		</div> 
	</form>
	<br>
	<br>
	
	{% if msg is defined %}
	<h2 align = "center" >{{msg}} for '{{query}}'</h2>
	{% endif %}
	

	{% if relevant_docs is defined %}	
		
		<hr>
		<h3 align = "center" >Search Results for '{{query}}'</h3> 
		<hr>
		
		


		{% for doc, val in relevant_docs.items() %}

			 <div class="w3-card-4">

		<header class="w3-container w3-light-grey">
		  <h3>
		<a href = "/document/{{doc}}" target = "_blank"> {{doc}} </a>
		</h3>
		</header>

		<div class="w3-container">
		  <p>{{val[0]}}</p>
		  <hr>
		  <p> {{val[1]}} </p>
		</div>

		<a href = "/document/{{doc}}"><button class="w3-button w3-block w3-dark-grey">Read more.. </button></a>
		</div>

		<hr>
			<!-- <h3><li style="list-style: none;" align = "center"> <a href = "/document/{{doc}}" target = "_blank"> {{doc}} </a></li><h3> -->
		{% endfor %}
		



	{% endif %}
	<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>