<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'index.css')}}">
</head>
<body>
		<div class = "jumbotron">
			<h1 align = "center"> Welcome to ADBool </h1>
		</div>
		
		<form method = "POST">
		<div class="container">
			<div class="row">
		        <div class="col-sm-6 col-sm-offset-3">
		            <div id="imaginary_container"> 
		                <div class="input-group stylish-input-group">
		                    <input type="text" class="form-control"  placeholder="Search" name = "query">
		                    <span class="input-group-addon">
		                        <button type="submit">
		                            <span class="glyphicon glyphicon-search"></span>
		                        </button>  
		                    </span>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
		<br>
		<div align = "right" class = "container" style = "display:inline-block">
				<button type="Submit" class="btn btn-default btn-lg" id="add">Search</button>
				<a href="/index"><button type="button" class="btn btn-primary btn-lg" id="add">Add documents</button></a>
		</div>
	</form>
	
	
	{% if msg is defined %}
	<h2 align = "center" >{{msg}}</h2>
	{% endif %}
	

	{% if data_dict is defined %}	
		<ul>
		{% for key in data_dict %}
			<li> <a href = "{{data_dict[key]}}"> {{key}} </a></li>
		{% endfor %}
		</ul>

	{% endif %}
	<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>