<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'index.css')}}">
		<link rel="stylesheet" type="text/css" href="index.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
</head>
<body>
		<div>
			<h1 align = "center"> BoolScraper </h1>
		</div>
		
		<form method = "POST">
		<div class="container">
			<div class="row">
		        <div class="col-sm-6 col-sm-offset-3">
		            <div id="imaginary_container"> 
		                <div class="input-group stylish-input-group">
		                    <input type="text" class="form-control"  placeholder="Search" name = "query">
		                    <span class="input-group-addon">
		                        <button type="submit">
		                            <span class="glyphicon glyphicon-search"></span>
		                        </button>  
		                    </span>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
		<br>
		<div align = "right" class = "container" style = "display:inline-block">
				<button type="Submit" class="btn btn-default btn-lg" id="add">Search document</button>
				<a href="/index"><button style = "margin-left:10px; margin-right:20px;"type="button" class="btn btn-primary btn-lg" id="add">Add documents</button></a>
		</div>
	</form>
	<br>
	<br>
	
	{% if msg is defined %}
	<h2 align = "center" >{{msg}} for '{{query}}'</h2>
	{% endif %}
	

	{% if data_dict is defined %}	
		
		<hr>
		<h3 align = "center" >Search Results for '{{query}}'</h3> 
		<hr>
		
		<ul>
		{% for key in data_dict %}
			<h3><li style="list-style: none;" align = "center"> <a href = "{{data_dict[key]}}" target = "_blank"> {{key}} </a></li><h3>
		{% endfor %}
		</ul>

	{% endif %}
	<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>