<html>
<head>
	<title>INDEX</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'index.css')}}">
</head>
<body>
		<div class = "jumbotron">
			<h1 align = "center"> Add documents for AdBool to index them </h1>
		</div>
		
		<form method = "POST">
		<div class="container">
			<div class="row">
		        <div class="col-sm-6 col-sm-offset-3">
		            <div id="imaginary_container"> 
		                <div class="input-group stylish-input-group">
		                    <input type="text" class="form-control"  placeholder="Search" name = "url">
		                    <span class="input-group-addon">
		                        <button type="submit">
		                            <span class="glyphicon glyphicon-search"></span>
		                        </button>  
		                    </span>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
		<br>
		<div align = "right" class = "container" style = "display:inline-block">
				<button type="Submit" class="btn btn-default btn-lg" id="add">Add document</button>
				<a href="/"><button style = "margin-left:10px; margin-right:20px;"type="button" class="btn btn-primary btn-lg" id="add">Continue searching</button></a>
		</div>
	</form>
	<br>
	<hr>
	<h3 align = "center">List of indexed documents</h3> 
	<hr>
	
	<ul>
	{% for key in data_dict %}
		<h3><li style="list-style: none;" align = "center"> <a href = "{{data_dict[key]}}"> {{key}} </a></li><h3>
	{% endfor %}
	</ul>
	<script type="text/javascript" src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>